<nav class="navbar navbar-light" id="nav">
  <div
    class="container-fluid d-flex justify-content-between position-relative"
    id="nav-container"
  >
    <a class="navbar-brand" href="#">
      <img
        src="/image/clothes-hanger.svg"
        width="30"
        height="30"
        alt="Coco logo"
      />
      COCO
    </a>
  </div>
</nav>
