<div class="container">
  <nav
    class="navbar navbar-light d-flex justify-content-between position-relative"
    id="nav"
  >
    <a class="navbar-brand" href="#">
      <img src="/image/clothes-hanger.svg" width="30" height="30" alt="" />
      COCO
    </a>
  </nav>
</div>
