<div class="container">
  <nav class="navbar navbar-light d-flex justify-content-between">
    <a class="navbar-brand" href="#">
      <img src="/image/clothes-hanger.svg" width="30" height="30" alt="" />
      COCO
    </a>
    <form class="form-inline d-flex g-1">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-primary my-2 my-sm-0 ms-2" type="submit">
        Search
      </button>
    </form>
  </nav>
</div>
