:root {
  --main-transition: 0.3s;
}
body {
  height: 100vh;
  position: relative;
}
nav {
  z-index: 1000;
}
.span-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.z-2020 {
  z-index: 2020;
}
.form-on-fly {
  position: absolute;
  right: 10px;
  animation-name: goDown;
  animation-duration: var(--main-transition);
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.form-on-fly-remove {
  animation-name: goUp;
}
.active-link {
  margin-top: -8px;
  position: relative;
}
.active-link::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}
footer {
  bottom: 0;
}
@keyframes goDown {
  from {
    bottom: -10px;
    opacity: 0;
  }
  to {
    bottom: -30px;
    opacity: 1;
  }
}
@keyframes goUp {
  from {
    bottom: -30px;
    opacity: 1;
  }
  to {
    bottom: -10px;
    opacity: 0;
  }
}
